PORT=6000
KAFKA_SERVER=127.0.0.1:9093
KAFKA_WEBHOOK_TOPIC=webhook
REDIS_CONNECTION=localhost:6379
DATABASE_URL=postgres://postgres:root@localhost:5432/broker_db
WHATSAPP_ACCESS_TOKEN=YOUR_WHATSAPP_ACCESS_TOKEN