PORT=7000
KAFKA_SERVER=127.0.0.1:9093
READ_TOPIC="agent_A-in"
WRITE_TOPIC="agent_A-out"
ERROR_TOPIC="agent_A-error"
MONGO_CONNECTION=mongodb://user:secret@localhost:27017
MONGO_DATABASE=broker-agent
DIALOG_COLLECTION=messages-agent-A
DEMO_WAID=USER_WAID