.header-title {
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    height: 50px;
    background-color: rgb(0, 29, 143);;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}